[submodule "Firmware/Application/middleware/cJSON"]
	path = Firmware/Application/middleware/cJSON
	url = git@github.com:DaveGamble/cJSON.git
[submodule "Firmware/Application/middleware/FreeRTOS"]
	path = Firmware/Application/middleware/FreeRTOS
	url = git@github.com:FreeRTOS/FreeRTOS.git
[submodule "Firmware/Application/middleware/freemodbus"]
	path = Firmware/Application/middleware/freemodbus
	url = git@github.com:Arachnid-97/freemodbus.git
[submodule "Firmware/Application/middleware/FreeRTOS_Helpers"]
	path = Firmware/Application/middleware/FreeRTOS_Helpers
	url = git@github.com:DRNadler/FreeRTOS_helpers.git
[submodule "Firmware/Application/tools/SWO-Parser"]
	path = Firmware/Application/tools/SWO-Parser
	url = git@github.com:Arachnid-97/SWO-Parser.git
[submodule "Firmware/Application/middleware/CanFestival-3-10"]
	path = Firmware/Application/middleware/CanFestival-3-10
	url = git@github.com:Arachnid-97/CanFestival-3.git
